.header
  display flex
  box-shadow 0 .1rem .5rem #e9e9e9
  height .97rem
  .header-back
    width 30px
    height .97rem
    line-height .97rem
    margin-left .30rem
    float left
    .back-arrow
      font-size .54rem
  .header-title
    flex 1
    height .97
    line-height .97rem
    font-family Arial
    color rgb(10, 9, 9)
    font-size.38rem
    text-align center
  .header-search
    width 30px
    height .97rem
    line-height .97rem
    margin-right .30rem
    float right
    .search-icon
      font-size .54rem
